# **Car price prediction project**
- **web scraping from cars 24 website**

In [1]:
!pip install selenium
! pip install kora -q
! apt install chromium-chromedriver

Collecting selenium
  Downloading selenium-3.141.0-py2.py3-none-any.whl (904 kB)
     |████████████████████████████████| 904 kB 33.9 MB/s
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from selenium) (1.24.3)
Installing collected packages: selenium
Successfully installed selenium-3.141.0
     |████████████████████████████████| 57 kB 5.4 MB/s
     |████████████████████████████████| 56 kB 4.5 MB/s
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following additional packages will be installed:
  chromium-browser chromium-browser-l10n chromium-codecs-ffmpeg-extra
Suggested packages:
  webaccounts-chromium-extension unity-chromium-extension
The following NEW packages will be installed:
  chromium-browser chromium-browser-l10n chromium-chromedriver
  chromium-codecs-ffmpeg-extra
0 upgraded, 4 newly installed, 0 to remove and 37 not upgraded.
Need to get 92.6 MB of archives.
After this operation, 317 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 chromium-codecs-ffmpeg-extra amd64 93.0.4577.63-0ubuntu0.18.04.1 [1,135 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 chromium-browser amd64 93.0.4577.63-0ubuntu0.18.04.1 [82.4 MB]
Get:3 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 chromium-browser-l10n all 93.0.4577.63-0ubuntu0.18.04.1 [4,133 kB]
Get:4 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 chromium-chromedriver amd64 93.0.4577.63-0ubuntu0.18.04.1 [4,961 kB]
Fetched 92.6 MB in 3s (28.7 MB/s)
Selecting previously unselected package chromium-codecs-ffmpeg-extra.
(Reading database ... 155047 files and directories currently installed.)
Preparing to unpack .../chromium-codecs-ffmpeg-extra_93.0.4577.63-0ubuntu0.18.04.1_amd64.deb ...
Unpacking chromium-codecs-ffmpeg-extra (93.0.4577.63-0ubuntu0.18.04.1) ...
Selecting previously unselected package chromium-browser.
Preparing to unpack .../chromium-browser_93.0.4577.63-0ubuntu0.18.04.1_amd64.deb ...
Unpacking chromium-browser (93.0.4577.63-0ubuntu0.18.04.1) ...
Selecting previously unselected package chromium-browser-l10n.
Preparing to unpack .../chromium-browser-l10n_93.0.4577.63-0ubuntu0.18.04.1_all.deb ...
Unpacking chromium-browser-l10n (93.0.4577.63-0ubuntu0.18.04.1) ...
Selecting previously unselected package chromium-chromedriver.
Preparing to unpack .../chromium-chromedriver_93.0.4577.63-0ubuntu0.18.04.1_amd64.deb ...
Unpacking chromium-chromedriver (93.0.4577.63-0ubuntu0.18.04.1) ...
Setting up chromium-codecs-ffmpeg-extra (93.0.4577.63-0ubuntu0.18.04.1) ...
Setting up chromium-browser (93.0.4577.63-0ubuntu0.18.04.1) ...
update-alternatives: using /usr/bin/chromium-browser to provide /usr/bin/x-www-browser (x-www-browser) in auto mode
update-alternatives: using /usr/bin/chromium-browser to provide /usr/bin/gnome-www-browser (gnome-www-browser) in auto mode
Setting up chromium-chromedriver (93.0.4577.63-0ubuntu0.18.04.1) ...
Setting up chromium-browser-l10n (93.0.4577.63-0ubuntu0.18.04.1) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
Processing triggers for hicolor-icon-theme (0.17-2) ...
Processing triggers for mime-support (3.60ubuntu1) ...
Processing triggers for libc-bin (2.27-3ubuntu1.3) ...
/sbin/ldconfig.real: /usr/local/lib/python3.7/dist-packages/ideep4py/lib/libmkldnn.so.0 is not a symbolic link

In [2]:
import pandas as pd
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException, ElementNotVisibleException, TimeoutException
import time
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
import selenium
from bs4 import BeautifulSoup as sp
from bs4 import BeautifulSoup

In [3]:
!apt-get update 

from selenium import webdriver
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
driver =webdriver.Chrome('chromedriver',chrome_options=chrome_options)

Get:1 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Get:4 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Ign:5 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:6 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:7 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:8 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:9 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:10 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:11 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Get:12 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,430 kB]
Get:13 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Hit:14 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:15 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,802 kB]
Get:18 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [922 kB]
Get:19 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [2,800 kB]
Get:20 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,208 kB]
Fetched 9,435 kB in 3s (3,128 kB/s)
Reading package lists... Done

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: DeprecationWarning: use options instead of chrome_options

In [6]:
#Scraping cars located around Hyderabad city
driver_H = webdriver.Chrome('chromedriver',chrome_options=chrome_options)
driver_H.get('https://www.cars24.com/buy-used-cars-hyderabad/?itm_source=Cars24Website&itm_medium=sticky_header')
ScrollNumber_H = 50
for i in range(1,ScrollNumber_H):
    driver_H.execute_script("window.scrollTo(1,50000000)")
    time.sleep(5)
file_H = open('cars24_Hyderabad.html', 'w', encoding='utf-8')
file_H.write(driver_H.page_source)
file_H.close()
driver_H.close()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: use options instead of chrome_options

In [7]:
data_H = open('cars24_Hyderabad.html','r')
soup_H = BeautifulSoup(data_H, 'html.parser')

In [10]:
# Scraping cars located around Delhi
driver_D = webdriver.Chrome('chromedriver',chrome_options=chrome_options)
driver_D.get('https://www.cars24.com/buy-used-car?sort=P&storeCityId=2&pinId=110001')
ScrollNumber_D = 50
for i in range(1,ScrollNumber_D):
    driver_D.execute_script("window.scrollTo(1,50000000)")
    time.sleep(5)
file_D = open('cars24_Delhi.html', 'w', encoding='utf-8')
file_D.write(driver_D.page_source)
file_D.close()
driver_D.close()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DeprecationWarning: use options instead of chrome_options
  This is separate from the ipykernel package so we can avoid doing imports until

In [11]:
data_D = open('cars24_Delhi.html','r')
soup_D = BeautifulSoup(data_D, 'html.parser')

In [12]:
# Scraping cars located around Mumbai
driver_M = webdriver.Chrome('chromedriver',chrome_options=chrome_options)
driver_M.get('https://www.cars24.com/buy-used-car?sort=P&storeCityId=2378&pinId=400001')
ScrollNumber_M = 50
for i in range(1,ScrollNumber_M):
    driver_M.execute_script("window.scrollTo(1,50000000)")
    time.sleep(5)
file_M = open('cars24_Mumbai.html', 'w', encoding='utf-8')
file_M.write(driver_M.page_source)
file_M.close()
driver_M.close()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: use options instead of chrome_options

In [13]:
data_M = open('cars24_Mumbai.html','r')
soup_M = BeautifulSoup(data_M, 'html.parser')

In [14]:
# Scraping cars located around Bangalore
driver_B = webdriver.Chrome('chromedriver',chrome_options=chrome_options)
driver_B.get('https://www.cars24.com/buy-used-car?sort=P&storeCityId=4709&pinId=560001')
ScrollNumber_B = 50
for i in range(1,ScrollNumber_B):
    driver_B.execute_script("window.scrollTo(1,50000000)")
    time.sleep(5)
file_B = open('cars24_Bangalore.html', 'w', encoding='utf-8')
file_B.write(driver_B.page_source)
file_B.close()
driver_B.close()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: use options instead of chrome_options

In [15]:
data_B = open('cars24_Bangalore.html','r')
soup_B = BeautifulSoup(data_B, 'html.parser')

In [16]:
# Scraping cars located around Chennai
driver_C = webdriver.Chrome('chromedriver',chrome_options=chrome_options)
driver_C.get('https://www.cars24.com/buy-used-car?sort=P&storeCityId=5732&pinId=600001')
ScrollNumber_C = 50
for i in range(1,ScrollNumber_C):
    driver_C.execute_script("window.scrollTo(1,50000000)")
    time.sleep(5)
file_C = open('cars24_Chennai.html', 'w', encoding='utf-8')
file_C.write(driver_C.page_source)
file_C.close()
driver_C.close()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: use options instead of chrome_options

In [17]:
data_C = open('cars24_Chennai.html','r')
soup_C = BeautifulSoup(data_C, 'html.parser')

In [18]:
main_div = 'col-4'
sub_div = '_1l4fi'
subsub_div = {'name':'_1jpRU','price':'_7udZZ','emi':'_2HFRN' , 'features':'bVR0c'}
name_H, name_D, name_M, name_B, name_C = [],[],[],[],[]
price_H, price_D, price_M, price_B, price_C = [],[],[],[],[]
emi_H, emi_D, emi_M, emi_B, emi_C = [],[],[],[],[]
features_H, features_D, features_M, features_B, features_C = [],[],[],[],[]
city_H, city_D, city_M, city_B, city_C = [],[],[],[],[]

In [19]:
name = []
price = []
emi = []
features = []
city = []
soups = [soup_H, soup_D, soup_M, soup_B, soup_C]

In [20]:
# Hyderabad
for x in soup_H.find_all('div',{'class':main_div}):
        for i in x.find_all('div',{'class':sub_div}):
    
            try:
                a = i.find('div',{'class':subsub_div['name']})
                name_H.append(a.text)
            except:
                name_H.append(np.nan)
            
            try:
                a = i.find('div',{'class':subsub_div['price']})
                price_H.append(a.text)
            except:
                price_H.append(np.nan)
        
    
            try:
                a = i.find('div',{'class':subsub_div['emi']})
                emi_H.append(a.text)
            except:
                emi_H.append(np.nan)
        
            try:
                a = i.find('ul',{'class':subsub_div['features']})
                features_H.append("\n".join([subsub_div.text for subsub_div in a]))
            except:
                features_H.append(np.nan)
            try:
                city_H.append('Hyderabad')
            except:
                city_H.append(np.nan)

In [21]:
# Delhi          
for x in soup_D.find_all('div',{'class':main_div}):
        for i in x.find_all('div',{'class':sub_div}):
    
            try:
                a = i.find('div',{'class':subsub_div['name']})
                name_D.append(a.text)
            except:
                name_D.append(np.nan)
            
            try:
                a = i.find('div',{'class':subsub_div['price']})
                price_D.append(a.text)
            except:
                price_D.append(np.nan)
        
    
            try:
                a = i.find('div',{'class':subsub_div['emi']})
                emi_D.append(a.text)
            except:
                emi_D.append(np.nan)
        
            try:
                a = i.find('ul',{'class':subsub_div['features']})
                features_D.append("\n".join([subsub_div.text for subsub_div in a]))
            except:
                features_D.append(np.nan)
            try:
                city_D.append('Delhi')
            except:
                city_D.append(np.nan)

In [22]:
# Mumbai         
for x in soup_M.find_all('div',{'class':main_div}):
        for i in x.find_all('div',{'class':sub_div}):
    
            try:
                a = i.find('div',{'class':subsub_div['name']})
                name_M.append(a.text)
            except:
                name_M.append(np.nan)
            
            try:
                a = i.find('div',{'class':subsub_div['price']})
                price_M.append(a.text)
            except:
                price_M.append(np.nan)
        
    
            try:
                a = i.find('div',{'class':subsub_div['emi']})
                emi_M.append(a.text)
            except:
                emi_M.append(np.nan)
        
            try:
                a = i.find('ul',{'class':subsub_div['features']})
                features_M.append("\n".join([subsub_div.text for subsub_div in a]))
            except:
                features_M.append(np.nan)
            try:
                city_M.append('Mumbai')
            except:
                city_M.append(np.nan)

In [23]:
# Bangalore         
for x in soup_B.find_all('div',{'class':main_div}):
        for i in x.find_all('div',{'class':sub_div}):
    
            try:
                a = i.find('div',{'class':subsub_div['name']})
                name_B.append(a.text)
            except:
                name_B.append(np.nan)
            
            try:
                a = i.find('div',{'class':subsub_div['price']})
                price_B.append(a.text)
            except:
                price_B.append(np.nan)
        
    
            try:
                a = i.find('div',{'class':subsub_div['emi']})
                emi_B.append(a.text)
            except:
                emi_B.append(np.nan)
        
            try:
                a = i.find('ul',{'class':subsub_div['features']})
                features_B.append("\n".join([subsub_div.text for subsub_div in a]))
            except:
                features_B.append(np.nan)
            try:
                city_B.append('Bangalore')
            except:
                city_B.append(np.nan)

In [24]:
# Chennai          
for x in soup_C.find_all('div',{'class':main_div}):
        for i in x.find_all('div',{'class':sub_div}):
    
            try:
                a = i.find('div',{'class':subsub_div['name']})
                name_C.append(a.text)
            except:
                name_C.append(np.nan)
            
            try:
                a = i.find('div',{'class':subsub_div['price']})
                price_C.append(a.text)
            except:
                price_C.append(np.nan)
        
    
            try:
                a = i.find('div',{'class':subsub_div['emi']})
                emi_C.append(a.text)
            except:
                emi_C.append(np.nan)
        
            try:
                a = i.find('ul',{'class':subsub_div['features']})
                features_C.append("\n".join([subsub_div.text for subsub_div in a]))
            except:
                features_C.append(np.nan)
            try:
                city_C.append('Chennai')
            except:
                city_C.append(np.nan)

In [25]:
name = name + name_H + name_D + name_M + name_B + name_C 
price = price + price_H + price_D + price_M + price_B + price_C
emi = emi + emi_H + emi_D + emi_M + emi_B + emi_C
features = features + features_H + features_D + features_M + features_B + features_C
city = city + city_H + city_D + city_M + city_B + city_C

In [26]:
print(len(name))
print(len(price))
print(len(emi))
print(len(features))
print(len(city))

6899
6899
6899
6899
6899

In [78]:
df = pd.DataFrame({"Car Name":name, 'Price':price, 
                  "EMI":emi, "Features":features,"Location":city})

In [70]:
df.head()

                                 Car Name  ...   Location
0        2010 Hyundai i10MAGNA 1.2 Manual  ...  Hyderabad
1  2013 Hyundai i10MAGNA 1.1 IRDE2 Manual  ...  Hyderabad
2      2013 Hyundai Santro XingGLS Manual  ...  Hyderabad
3              2011 Maruti AltoLXI Manual  ...  Hyderabad
4      2017 Maruti Alto 800LXI OPT Manual  ...  Hyderabad

[5 rows x 5 columns]

In [71]:
import matplotlib.pyplot as plt
#%matplotlib inline

from selenium import webdriver
from mpl_toolkits.mplot3d import Axes3D

In [79]:

regex = r'^\d+\s(\w+)\s'
df['Car Brand'] = df['Car Name'].apply(lambda x: re.compile(regex).findall(x)[0])

regex = r'^\d+\s\w+\s(.*?)\s\w+$'
df['Model'] = df['Car Name'].apply(lambda x: re.compile(regex).findall(x))

#regex = r'â‚¹(.*)'
#df['Price'] = df['Price'].apply(lambda x: re.compile(regex).findall(x)[0])

regex = r'^\d+'
df['Model Year'] = df['Car Name'].apply(lambda x: re.compile(regex).findall(x)[0])

regex = r'\w+$'
df['Gear'] = df['Car Name'].apply(lambda x: re.compile(regex).findall(x))

regex = r'^(.*)\skm'
df['Driven (Kms)'] = df['Features'].apply(lambda x: re.compile(regex).findall(x)[0])

regex = r'\n(\d+)\w+\sOwner\n'
df['Ownership'] = df['Features'].apply(lambda x: re.compile(regex).findall(x)[0])

regex = r'\n(.*)$'
df['Fuel'] = df['Features'].apply(lambda x: re.compile(regex).findall(x)[0])

#regex = r'â‚¹(.*)/month'
#df['EMI (monthly)'] = df['EMI'].apply(lambda x: re.compile(regex).findall(x)[0])

In [80]:
df['EMI (monthly)'] = df['EMI'].apply(lambda x: x.replace('/month',''))
df['EMI (monthly)'] = df['EMI (monthly)'].apply(lambda x: x.replace(',',''))
df['EMI (monthly)'] = df['EMI (monthly)'].apply(lambda x: x.replace('₹',''))

In [81]:
df['Price'] = df['Price'].apply(lambda x: x.replace('₹',''))
df['Price'] = df['Price'].apply(lambda x: x.replace(',',''))

In [82]:
df.head()

                                 Car Name   Price  ...    Fuel EMI (monthly)
0        2010 Hyundai i10MAGNA 1.2 Manual  307899  ...  Petrol          6849
1  2013 Hyundai i10MAGNA 1.1 IRDE2 Manual  347599  ...  Petrol          7732
2      2013 Hyundai Santro XingGLS Manual  305899  ...  Petrol          6805
3              2011 Maruti AltoLXI Manual  224499  ...  Petrol          4994
4      2017 Maruti Alto 800LXI OPT Manual  338099  ...  Petrol          7521

[5 rows x 13 columns]

In [83]:
cols = ['Car Name', 'Features', 'EMI']
columns = ['Car Brand', 'Model', 'Price', 'Model Year','Location' ,'Fuel', 'Driven (Kms)', 'Gear', 'Ownership', 'EMI (monthly)']
df = df.drop(cols,axis=1)
df = df[columns]

In [84]:
df.head()

  Car Brand                 Model   Price  ...      Gear Ownership EMI (monthly)
0   Hyundai        [i10MAGNA 1.2]  307899  ...  [Manual]         1          6849
1   Hyundai  [i10MAGNA 1.1 IRDE2]  347599  ...  [Manual]         3          7732
2   Hyundai      [Santro XingGLS]  305899  ...  [Manual]         1          6805
3    Maruti             [AltoLXI]  224499  ...  [Manual]         1          4994
4    Maruti     [Alto 800LXI OPT]  338099  ...  [Manual]         1          7521

[5 rows x 10 columns]

In [85]:
df['Model'] = df['Model'].apply(lambda x: ''.join(x))
df['Gear']  = df['Gear'].apply(lambda x: ''.join(x))
df['Price'] = df['Price'].apply(lambda x: x.replace(',',''))
df['Driven (Kms)'] = df['Driven (Kms)'].apply(lambda x: x.replace(',',''))

In [87]:
df.to_csv('Car price data.csv')