# **WEB SCRAPING ASSIGNMENT-2**

In [1]:
!pip install selenium

Requirement already satisfied: selenium in /usr/local/lib/python3.7/dist-packages (3.141.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from selenium) (1.24.3)

In [2]:
import pandas as pd
import selenium
from selenium import  webdriver
import time

In [3]:
! pip install kora -q
! apt install chromium-chromedriver

Reading package lists... Done
Building dependency tree
Reading state information... Done
chromium-chromedriver is already the newest version (91.0.4472.101-0ubuntu0.18.04.1).
0 upgraded, 0 newly installed, 0 to remove and 47 not upgraded.

In [4]:
!apt-get update 
!apt install chromium-chromedriver

from selenium import webdriver
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
wd = webdriver.Chrome('chromedriver',chrome_options=chrome_options)
driver =webdriver.Chrome('chromedriver',chrome_options=chrome_options)

Hit:1 http://security.ubuntu.com/ubuntu bionic-security InRelease
Ign:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:3 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease
Ign:4 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:5 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Hit:6 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:7 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:8 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:9 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:10 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:11 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Get:12 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Hit:13 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:16 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [2,619 kB]
Fetched 2,783 kB in 3s (1,029 kB/s)
Reading package lists... Done
Reading package lists... Done
Building dependency tree
Reading state information... Done
chromium-chromedriver is already the newest version (91.0.4472.101-0ubuntu0.18.04.1).
0 upgraded, 0 newly installed, 0 to remove and 47 not upgraded.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: DeprecationWarning: use options instead of chrome_options
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: DeprecationWarning: use options instead of chrome_options
  # Remove the CWD from sys.path while we load stuff.

In [5]:
from kora.selenium import wd
wd.get("https://www.naukri.com/")

In [6]:
driver=webdriver.Chrome('chromedriver',chrome_options=chrome_options)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: use options instead of chrome_options
  """Entry point for launching an IPython kernel.

# **1.**

Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [7]:
driver.get('https://www.naukri.com/')

In [8]:
jobs= driver.find_element_by_id('qsb-keyword-sugg')
jobs.clear()
jobs.send_keys('Data Analyst')
locations= driver.find_element_by_id('qsb-location-sugg')
locations.clear()
locations.send_keys('Bangalore')
button= driver.find_element_by_xpath("//div[@class= 'search-btn']")
button.click()
time.sleep(5)

In [9]:
job_title= []
job_location= []
company_name= []
experience_required= []

for i in driver.find_elements_by_xpath("//a[@class= 'title fw500 ellipsis']"):
    job_title.append(i.text)
    
for i in driver.find_elements_by_xpath("//li[@class= 'fleft grey-text br2 placeHolderLi location']/span"):
    job_location.append(i.text)

for i in driver.find_elements_by_xpath("//a[@class= 'subTitle ellipsis fleft']"):
    company_name.append(i.text)

for i in driver.find_elements_by_xpath("//li[@class= 'fleft grey-text br2 placeHolderLi experience']/span"):
    experience_required.append(i.text)
dictionnary = {
   'job title': job_title[:10], 
   'job location':job_location[:10], 
   'company name':company_name[:10], 
   'experience required':experience_required[:10]
}
jobs = pd.DataFrame(data=dictionnary) 
jobs

                                           job title  ... experience required
0                 Senior Data Analyst - Data Lineage  ...            5-10 Yrs
1                     Data Analyst - Informatica MDM  ...             6-9 Yrs
2                                      Data analysts  ...             3-5 Yrs
3   Excel VBA Jobs Bangalore | VBA data analyst Jobs  ...             0-1 Yrs
4  Data Analyst (2positions)//immediate Joiners//...  ...             4-8 Yrs
5                     Business/Data Analyst - SSE/LA  ...             2-5 Yrs
6                              Business Data Analyst  ...            9-13 Yrs
7                                       Data Analyst  ...             3-5 Yrs
8                                       Data Analyst  ...             3-8 Yrs
9  Data Analyst - Category Demand Management (Rev...  ...             1-4 Yrs

[10 rows x 4 columns]

# **2.**

 Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data

In [33]:
url = 'https://www.naukri.com'
driver.get(url)

In [34]:
#finding element for job search bar

search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys('Data Scientist')

#finding element for job location bar

search_loc = driver.find_element_by_id("qsb-location-sugg")
search_loc.send_keys('Bangalore')

#do click using class_name function

search_btn = driver.find_element_by_class_name('btn')
search_btn.click()

In [39]:
#so lets extract all the data having the job titles
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_titles=[]
for i in titles_tags:
    job_titles.append(i.text)
            
#so lets extract all the data having the job location
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
job_loc=[]
for i in location_tags:
    job_loc.append(i.text)
            
#so lets extract all the data having the names
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_name=[]
for i in companies_tags:
    company_name.append(i.text)
        
# so lets extract the experience required data
experience_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
experience_req=[]
for i in experience_tags:
    experience_req.append(i.text)

In [36]:
job_pages = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
job_hrefs = []

for i in job_pages:
    job_hrefs.append(i.get_attribute('href'))

In [37]:
desc = []
for i in job_hrefs:
    driver.get(i)
    time.sleep(5)
    try:
        desc_tags = driver.find_element_by_xpath('//div[@class="nConfig_textblock "]')
        desc.append(desc_tags.text.replace('\n', ''))
    except:
        desc.append('-')

In [38]:
Jobs=pd.DataFrame({})
Jobs['Title']=job_titles[:10]
Jobs['Company ']=company_name[:10]
Jobs['Experience']=experience_req[:10]
Jobs['Locations']=job_loc[:10]
Jobs['Full Description'] = desc[:10]
    
print("Shape of jobs detail have {} rows and {} columns \n.".format(*Jobs.shape))
Jobs

Shape of jobs detail have 10 rows and 5 columns
.

                                               Title  ...                                   Full Description
0                              Senior Data Scientist  ...  Job DescriptionJob Role: Senior Data Scientist...
1      Immediate job opening - Senior Data Scientist  ...  Job DescriptionPURPOSE OF THE POSITIONTo be an...
2                              Senior Data Scientist  ...                                                  -
3                                Lead Data Scientist  ...                                                  -
4                                Lead Data Scientist  ...                                                  -
5  Data analytics / Data scientist intern (work f...  ...                                                  -
6                        Data Scientist - IBM Garage  ...  Job DescriptionAs a Data Scientist in the IBM ...
7         Deputy Manager - Datalabs (Data Scientist)  ...                                                  -
8      Digital Enterprise Architect (Data Scientist)  ...  Job DescriptionWe are looking for applicants w...
9                                     Data Scientist  ...  Job DescriptionAs a Data Scientist at IBM, you...

[10 rows x 5 columns]

# **3**

You have to use the location and salary filter. You have to scrape data for “Data Scientist” designation for first 10 job results. You have to scrape the job-title, job-location, company_name, experience_required.

In [10]:
driver.get('https://www.naukri.com/')

In [11]:
jobs= driver.find_element_by_id('qsb-keyword-sugg')
jobs.clear()
jobs.send_keys('Data Scientist')
button= driver.find_element_by_xpath("//div[@class= 'search-btn']")
button.click()
time.sleep(5)

In [12]:
loc_filter= driver.find_elements_by_xpath("//i[@class= 'fleft naukicon naukicon-checkbox']")
loc_filter[1].click()

In [13]:
loc_filter= driver.find_elements_by_xpath("//i[@class= 'fleft naukicon naukicon-checkbox']")
loc_filter[4].click()

In [14]:
job_title= []
job_location= []
company_name= []
experience_required= []

for i in driver.find_elements_by_xpath("//a[@class= 'title fw500 ellipsis']"):
    job_title.append(i.text)
    
for i in driver.find_elements_by_xpath("//li[@class= 'fleft grey-text br2 placeHolderLi location']/span"):
    job_location.append(i.text)

for i in driver.find_elements_by_xpath("//a[@class= 'subTitle ellipsis fleft']"):
    company_name.append(i.text)

for i in driver.find_elements_by_xpath("//li[@class= 'fleft grey-text br2 placeHolderLi experience']/span"):
    experience_required.append(i.text)
dictionnary = {
   'Job title': job_title[:10], 
   'Job location':job_location[:10], 
   'Company Name':company_name[:10], 
   'Experience Required':experience_required[:10]
}
jobs = pd.DataFrame(data=dictionnary) 
jobs

                                           Job title  ... Experience Required
0  Data analytics / Data scientist intern (work f...  ...             0-5 Yrs
1              Chaayos is Looking For Data Scientist  ...             0-5 Yrs
2                                     Data Scientist  ...             3-7 Yrs
3    Data Scientist / Data Analyst -Business Analyst  ...             0-3 Yrs
4                              Junior Data Scientist  ...             3-5 Yrs
5       We are hiring- Data Scientist +Python- Noida  ...             4-7 Yrs
6                                     Data Scientist  ...             2-5 Yrs
7                                     Data Scientist  ...             3-8 Yrs
8  Data Analyst/Scientist Big Data, Statistical T...  ...             2-7 Yrs
9                   Business Analyst- Data Scientist  ...             2-5 Yrs

[10 rows x 4 columns]

# **4**

 Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

In [44]:
url='https://www.glassdoor.co.in'

In [46]:
driver.get(url)

In [ ]:
jobs= driver.find_element_by_id('sc.keyword')
jobs.clear()
jobs.send_keys('Data Scientist')
locations= driver.find_element_by_id('sc.location')
locations.clear()
locations.send_keys('Noida')
button= driver.find_element_by_xpath("//button[@class= 'gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr']")
button.click()
time.sleep(5)

In [45]:
requests.get(url)

# **5**

 Write a python program to scrape the salary data for Data Scientist designation in Noida location. You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.

In [41]:
import requests

In [42]:
url = 'https://www.glassdoor.co.in/Salaries/index.htm'
driver.get(url)

In [13]:
jobs= driver.find_element_by_id('KeywordSearch')
jobs.clear()
jobs.send_keys('Data Scientist')
locations= driver.find_element_by_id('LocationSearch')
locations.clear()
locations.send_keys('Noida')
button= driver.find_element_by_xpath("//button[@class= 'gd-btn-mkt']")
button.click()
time.sleep(5)

In [43]:
requests.get(url)

# **6**

 Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes: 1. Brand 2. Product Description 3. Price 4. Discount %

In [15]:
url = 'https://www.flipkart.com/'
driver.get(url)

In [16]:
cross = driver.find_element_by_xpath('//button[@class="_2KpZ6l _2doB4z"]')
cross.click()
time.sleep(5)

In [17]:
search = driver.find_element_by_xpath('//div[@class="_3OO5Xc"]//input')
search.clear()
search.send_keys('sunglasses')

search_button = driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
search_button.click()
time.sleep(5)

brand = []
description = []
price = []
discount = []


for a in range (3):
    brand_tags = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
    desc_tags = driver.find_elements_by_xpath('//div[@class="_2B099V"]//a')
    price_tags = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
    discount_tags = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]//span')

    for i in brand_tags:
        brand.append(i.text)
    
    for i in desc_tags:
        description.append(i.text)
    
    for i in price_tags:
        price.append(i.text)
    
    for i in discount_tags:
        discount.append(i.text)

    if (a < 1):
        nxt = driver.find_element_by_xpath('//a[@class="_1LKTO3"]')
        nxt.click()
        time.sleep(5)
    else:
        nxt = driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]')
        nxt.click()
        time.sleep(5)

desc = description[0::2]

In [18]:
sunglasses = pd.DataFrame({})
sunglasses['Brand Name'] = brand
sunglasses['Description'] = desc
sunglasses['Price'] = price
sunglasses['Discount'] = discount
sunglasses = sunglasses[:100]
sunglasses

        Brand Name  ... Discount
0           PIRASO  ...  85% off
1         Fastrack  ...  28% off
2         Fastrack  ...  22% off
3   kingsunglasses  ...  88% off
4           PIRASO  ...  85% off
..             ...  ...      ...
95           agera  ...  84% off
96       ROYAL SON  ...  65% off
97       ROYAL SON  ...  65% off
98          GANSTA  ...  83% off
99           NuVew  ...  77% off

[100 rows x 4 columns]

# **7**

 Scrape 100 reviews data from flipkart.com for iphone11 phone.

In [19]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace')

In [20]:
driver.find_element_by_xpath("//div[@class= '_3UAT2v _16PBlm']").click()

In [21]:
rating= []
review_summary= []
full_review= []

for i in range(0,13):
    
  
    for j in driver.find_elements_by_xpath("//div[@class= '_3LWZlK _1BLPMq']"):
        rating.append(j.text)
    
    
    for k in driver.find_elements_by_xpath("//p[@class= '_2-N8zT']"):
        review_summary.append(k.text)
    
    
    for l in driver.find_elements_by_xpath("//div[@class= 't-ZTKy']"):
        full_review.append(l.text)
    
  
    try:
        driver.find_element_by_xpath("//a[@class= '_1LKTO3'][2]").click()
    
    except:
        driver.find_element_by_xpath("//a[@class= '_1LKTO3']").click()
    time.sleep(15)
    
  
    
    
dictionnary = {
   'Rating': rating[:100], 
   'Review Summary':review_summary[:100], 
   'Full Review':full_review[:100],

}
iphone = pd.DataFrame(data=dictionnary) 
iphone

   Rating  ...                                        Full Review
0       5  ...  The Best Phone for the Money\n\nThe iPhone 11 ...
1       5  ...  Amazing phone with great cameras and better ba...
2       5  ...  This is my first iOS phone. I am very happy wi...
3       5  ...  Amazing Powerful and Durable Gadget.\n\nI’m am...
4       5  ...  Previously I was using one plus 3t it was a gr...
..    ...  ...                                                ...
95      5  ...  I'm Really happy with the product\nDelivery wa...
96      4  ...  Great iphone.\nI am writing this review after ...
97      5  ...  Did an upgrade from 6s plus to iphone 11.\nAo ...
98      5  ...  Damn this phone is a blast . Upgraded from and...
99      5  ...  Value for money\n5 star rating\nExcellent came...

[100 rows x 3 columns]

# **8**

Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field. You have to scrape 4 attributes of each sneaker : 1. Brand 2. Product Description 3. Price 4. discount %

In [22]:
url = 'https://www.flipkart.com/'
driver.get(url)
time.sleep(5)

In [ ]:
search = driver.find_element_by_xpath('//div[@class="_3OO5Xc"]//input')
search.clear()
search.send_keys('sneakers')

search_button = driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
search_button.click()
time.sleep(5)

In [ ]:
brand = []
description = []
price = []
discount = []

In [25]:
for a in range (3):
    brand_tags = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
    desc_tags = driver.find_elements_by_xpath('//div[@class="_2B099V"]//a')
    price_tags = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
    discount_tags = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')

    for i in brand_tags:
        brand.append(i.text)
    
    for i in desc_tags:
        description.append(i.text)
    
    for i in price_tags:
        price.append(i.text)
    
    for i in discount_tags:
        discount.append(i.text)

    if (a < 1):
        nxt = driver.find_element_by_xpath('//a[@class="_1LKTO3"]')
        nxt.click()
        time.sleep(5)
    else:
        nxt = driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]')
        nxt.click()
        time.sleep(5)

In [26]:
sneakers = pd.DataFrame({})
sneakers['Brand'] = brand
sneakers['Description'] = desc
sneakers['Price'] = price
sneakers['Discount'] = discount
sneakers = sneakers[:100]
sneakers

           Brand  ... Discount
0      India hub  ...  87% off
1       CALCADOS  ...  62% off
2     Shoes Bank  ...  65% off
3   Robbie jones  ...  52% off
4         ORICUM  ...  62% off
..           ...  ...      ...
95       Numenzo  ...  43% off
96        BRUTON  ...  85% off
97     bluemaker  ...  52% off
98          PUMA  ...  54% off
99          PUMA  ...  50% off

[100 rows x 4 columns]

# **9**

scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe

In [20]:
import requests
url='https://www.myntra.com/shoes'

In [16]:
driver.get(url)

In [ ]:
price= driver.find_elements_by_xpath("//div[@class= 'common-checkboxIndicator']")
price[14].click()

In [ ]:
price= driver.find_elements_by_xpath("//div[@class= 'common-checkboxIndicator']")
price[17].click()

In [ ]:
brand= []
product_Description= []
price= []

for i in range(0,5):
    
  
    for j in driver.find_elements_by_xpath("//h3[@class= 'product-brand']"):
        brand.append(j.text)
    
    
    for k in driver.find_elements_by_xpath("//h4[@class= 'product-product']"):
        product_Description.append(k.text)
    
    try:
        for l in driver.find_elements_by_xpath("//span[@class= 'product-discountedPrice']"):
            price.append(l.text)
        
    except:
        for l in driver.find_elements_by_xpath("//div[@class= 'product-price']"):
            price.append(l.text)        

    #driver.find_element_by_xpath("//li[@class= 'pagination-next']").click()

    time.sleep(15)
    
  
    
    
dictionnary = {
   'brand': brand[:100], 
   'product_Description':product_Description[:100], 
   'price':price[:100],

}
shoes = pd.DataFrame(data=dictionnary)
shoes

# **10**

 scrape first 10 laptops data. You have to scrape 3 attributes for each laptop: 1. title 2. Ratings 3. Price

In [22]:
from selenium.common.exceptions import NoSuchElementException

In [23]:
driver.get('https://www.amazon.in/')

In [24]:
laptop= driver.find_element_by_id('twotabsearchtextbox')
laptop.clear()
laptop.send_keys('Laptop')

button= driver.find_element_by_id("nav-search-submit-button")
button.click()
time.sleep(5)

In [25]:
filter_button= driver.find_elements_by_xpath("//a[@class= 'a-link-normal s-navigation-item']/span")

In [26]:
for i in filter_button:
    if i.text == "Intel Core i7":
        i.click()
        break

In [27]:
stars = driver.find_elements_by_class_name('a-icon-alt')

In [28]:
ratings= []
for i in stars:
    ratings.append(i.get_attribute('innerHTML').split(' ')[0])

In [29]:
title= []
price= []

for j in driver.find_elements_by_xpath("//span[@class= 'a-size-medium a-color-base a-text-normal']"):
    title.append(j.text)
        
for l in driver.find_elements_by_xpath("//span[@class= 'a-price-whole']"):
    price.append(l.text)
        
    
dictionnary = {
   'Title': title[:10], 
   'Ratings':ratings[:10], 
   'Price':price[:10],

}
laptops = pd.DataFrame(data=dictionnary)
laptops

                                               Title Ratings   Price
0  Life Digital Laptop 15.6-inch (39.62 cms) (Int...     3.1  26,990
1  Mi Notebook Horizon Edition 14 Intel Core i5-1...     4.4  54,999
2  HP Pavilion (2021) Thin & Light 11th Gen Core ...     4.6  84,990
3  HP Pavilion Gaming 10th Gen Intel Core i7 Proc...     4.2  86,990
4  Lenovo IdeaPad Gaming 3 10th Gen Intel Core i7...     4.3  77,990
5  HP Pavilion x360 (2021) 14" (35.56cms) FHD Tou...     3.8  78,990
6  Lenovo Ideapad 5 Intel i7 11th Gen 15.6" Thin ...     5.0  78,990
7  Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...     4.1  90,400
8  Lenovo Yoga 7 11th Gen Intel Core i7 14" (35.5...     4.2  97,990
9  Dell Inspiron 5406 14" FHD Touch Display 2in1 ...     3.8  92,185