In [1]:
!pip install selenium

Collecting selenium
  Downloading https://files.pythonhosted.org/packages/80/d6/4294f0b4bce4de0abf13e17190289f9d0613b0a44e5dd6a7f5ca98459853/selenium-3.141.0-py2.py3-none-any.whl (904kB)
     |████████████████████████████████| 911kB 30.8MB/s
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from selenium) (1.24.3)
Installing collected packages: selenium
Successfully installed selenium-3.141.0

In [2]:
! pip install kora -q
! apt install chromium-chromedriver

     |████████████████████████████████| 61kB 6.5MB/s
     |████████████████████████████████| 61kB 7.1MB/s
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following additional packages will be installed:
  chromium-browser chromium-browser-l10n chromium-codecs-ffmpeg-extra
Suggested packages:
  webaccounts-chromium-extension unity-chromium-extension
The following NEW packages will be installed:
  chromium-browser chromium-browser-l10n chromium-chromedriver
  chromium-codecs-ffmpeg-extra
0 upgraded, 4 newly installed, 0 to remove and 39 not upgraded.
Need to get 86.0 MB of archives.
After this operation, 298 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 chromium-codecs-ffmpeg-extra amd64 91.0.4472.101-0ubuntu0.18.04.1 [1,124 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 chromium-browser amd64 91.0.4472.101-0ubuntu0.18.04.1 [76.1 MB]
Get:3 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 chromium-browser-l10n all 91.0.4472.101-0ubuntu0.18.04.1 [3,937 kB]
Get:4 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 chromium-chromedriver amd64 91.0.4472.101-0ubuntu0.18.04.1 [4,837 kB]
Fetched 86.0 MB in 4s (24.1 MB/s)
Selecting previously unselected package chromium-codecs-ffmpeg-extra.
(Reading database ... 160815 files and directories currently installed.)
Preparing to unpack .../chromium-codecs-ffmpeg-extra_91.0.4472.101-0ubuntu0.18.04.1_amd64.deb ...
Unpacking chromium-codecs-ffmpeg-extra (91.0.4472.101-0ubuntu0.18.04.1) ...
Selecting previously unselected package chromium-browser.
Preparing to unpack .../chromium-browser_91.0.4472.101-0ubuntu0.18.04.1_amd64.deb ...
Unpacking chromium-browser (91.0.4472.101-0ubuntu0.18.04.1) ...
Selecting previously unselected package chromium-browser-l10n.
Preparing to unpack .../chromium-browser-l10n_91.0.4472.101-0ubuntu0.18.04.1_all.deb ...
Unpacking chromium-browser-l10n (91.0.4472.101-0ubuntu0.18.04.1) ...
Selecting previously unselected package chromium-chromedriver.
Preparing to unpack .../chromium-chromedriver_91.0.4472.101-0ubuntu0.18.04.1_amd64.deb ...
Unpacking chromium-chromedriver (91.0.4472.101-0ubuntu0.18.04.1) ...
Setting up chromium-codecs-ffmpeg-extra (91.0.4472.101-0ubuntu0.18.04.1) ...
Setting up chromium-browser (91.0.4472.101-0ubuntu0.18.04.1) ...
update-alternatives: using /usr/bin/chromium-browser to provide /usr/bin/x-www-browser (x-www-browser) in auto mode
update-alternatives: using /usr/bin/chromium-browser to provide /usr/bin/gnome-www-browser (gnome-www-browser) in auto mode
Setting up chromium-chromedriver (91.0.4472.101-0ubuntu0.18.04.1) ...
Setting up chromium-browser-l10n (91.0.4472.101-0ubuntu0.18.04.1) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
Processing triggers for hicolor-icon-theme (0.17-2) ...
Processing triggers for mime-support (3.60ubuntu1) ...
Processing triggers for libc-bin (2.27-3ubuntu1.2) ...
/sbin/ldconfig.real: /usr/local/lib/python3.7/dist-packages/ideep4py/lib/libmkldnn.so.0 is not a symbolic link

In [3]:
from bs4 import BeautifulSoup
import selenium
from selenium import webdriver
import requests
import time
import pandas as pd
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException,ElementNotInteractableException

In [4]:
!apt-get update 
!apt install chromium-chromedriver

from selenium import webdriver
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
wd = webdriver.Chrome('chromedriver',chrome_options=chrome_options)
driver =webdriver.Chrome('chromedriver',chrome_options=chrome_options)

Get:1 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Get:4 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Hit:5 http://archive.ubuntu.com/ubuntu bionic InRelease
Ign:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:7 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release [697 B]
Hit:8 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:9 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release.gpg [836 B]
Get:10 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Get:11 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,418 kB]
Hit:12 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:13 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,221 kB]
Get:14 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:15 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease [15.9 kB]
Get:16 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ Packages [62.2 kB]
Hit:17 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:19 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,780 kB]
Ign:20 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages
Get:20 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages [637 kB]
Get:21 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,188 kB]
Get:22 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [911 kB]
Get:23 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [2,658 kB]
Get:24 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic/main amd64 Packages [40.9 kB]
Fetched 12.2 MB in 3s (3,826 kB/s)
Reading package lists... Done
Reading package lists... Done
Building dependency tree
Reading state information... Done
chromium-chromedriver is already the newest version (91.0.4472.101-0ubuntu0.18.04.1).
0 upgraded, 0 newly installed, 0 to remove and 59 not upgraded.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: DeprecationWarning: use options instead of chrome_options
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: DeprecationWarning: use options instead of chrome_options
  # Remove the CWD from sys.path while we load stuff.

### **1.Scrape the details of most viewed videos on YouTube from Wikipedia**

In [5]:
url="https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"

In [6]:
driver.get(url)

In [7]:
name=[]
try:
    names=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]")
    for i in names:
        name.append(i.text)
except NoSuchElementException:
    name.append('No details available')
except StaleElementReferenceException:
    name.append('No details available')
print(len(name))

30

In [8]:
rank=[]
try:
    ranks=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]")
    for i in ranks:
        rank.append(i.text)
except NoSuchElementException:
    rank.append('No details available')
except StaleElementReferenceException:
    rank.append('No details available')
print(len(rank))

30

In [9]:
artist=[]
try:
    artists=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")
    for i in artists:
        artist.append(i.text)
except NoSuchElementException:
    artist.append('No details available')
except StaleElementReferenceException:
    artist.append('No details available')
print(len(artist))

30

In [10]:
views=[]
try:
    views_list=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]")
    for i in views_list:
        views.append(i.text)
except NoSuchElementException:
    views.append('No details available')
except StaleElementReferenceException:
    views.append('No details available')
print(len(views))

30

In [11]:
upload_date=[]
try:
    upload_date_list=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]")
    for i in upload_date_list:
        upload_date.append(i.text)
except NoSuchElementException:
    upload_date.append('No details available')
except StaleElementReferenceException:
    upload_date.append('No details available')
print(len(upload_date))

30

In [12]:
df=pd.DataFrame({"Rank":rank,
                 "Name":name,
                "Artist":artist,
                "Date of upload":upload_date,
                "Views":views})

In [13]:
df.head()

  Rank                        Name  ...    Date of upload Views
0   1.      "Baby Shark Dance"[22]  ...     June 17, 2016  8.96
1   2.             "Despacito"[24]  ...  January 12, 2017  7.44
2   3.  "Johny Johny Yes Papa"[25]  ...   October 8, 2016  5.55
3   4.          "Shape of You"[26]  ...  January 30, 2017  5.38
4   5.         "See You Again"[27]  ...     April 6, 2015  5.18

[5 rows x 5 columns]

### **2.Scrape the details team India’s international fixtures from bcci.tv**

In [ ]:
url="https://www.bcci.tv/"

In [ ]:
driver.get(url)

In [ ]:
fixtures=driver.find_element_by_xpath("//div[@class='navigation__drop-down drop-down drop-down--reveal-on-hover']/div/ul/li/a")
try:
    fixtures.click()
except ElementNotInteractableException:
    driver.get(fixtures.get_attribute('href'))

In [ ]:
urls=[]
match_page=driver.find_elements_by_xpath("//div[@class='js-list']/a")
for i in match_page:
    urls.append(i.get_attribute('href'))

In [ ]:
match=[]
series=[]
place=[]
date=[]
time=[]
for i in urls:
    driver.get(i)
    try:
        match_title=driver.find_element_by_xpath("//p[@class='mc-header-info__match-description']/span")
        match.append(match_title.text)
    except NoSuchElementException:
        match.append('No details available')
    try:
        series_title=driver.find_element_by_xpath("//h1[@class='mc-header-info__title']/strong")
        series.append(series_title.text)
    except NoSuchElementException:
        series.append("No details Available")
    try:
        place_title=driver.find_element_by_xpath("//h1[@class='mc-header-info__title']")
        place.append(place_title.text.split()[-1])
    except NoSuchElementException:
        place.append("No details Available")
    try:
        date_title=driver.find_element_by_xpath("//div[@class='mc-header-scorebox__datetime']/strong")
        date.append(date_title.text)
    except NoSuchElementException:
        date.append("No details Available")        
    try:
        time_title=driver.find_element_by_xpath("//div[@class='mc-header-scorebox__datetime']/span")
        time.append(time_title.text)
    except NoSuchElementException:
        time.append("No details Available")

In [ ]:
df=pd.DataFrame({"Match":match,
                "Series":series,
                "Place":place,
                "Date":date,
                "Time":time})

In [ ]:
df.head()

      Match             Series    Place             Date       Time
0   1ST ODI  Sri Lanka v India  Colombo   Sunday 18 July  14:30 IST
1   2ND ODI  Sri Lanka v India  Colombo  Tuesday 20 July  14:30 IST
2   3RD ODI  Sri Lanka v India  Colombo   Friday 23 July  14:30 IST
3  1ST T20I  Sri Lanka v India  Colombo   Sunday 25 July  19:00 IST
4  2ND T20I  Sri Lanka v India  Colombo  Tuesday 27 July  19:00 IST

### **3.Scrape the details of selenium exception from guru99.com**

In [ ]:
driver.get('https://www.guru99.com/')

In [ ]:
selenium_link=driver.find_element_by_xpath("//li[@class='g-menu-item g-menu-item-type-component g-menu-item-121  ']/a")
try:
    selenium_link.click()
except ElementNotInteractableException:#handling element not clickable exception
    driver.get(selenium_link.get_attribute('href'))

In [ ]:
exception_handle_link=driver.find_element_by_xpath("//a[@title='Selenium Exception Handling (Common Exceptions List)']")
try:
    exception_handle_link.click()
except ElementNotInteractableException:
    driver.get(exception_handle_link.get_attribute('href'))

In [ ]:
name=[]
try:
    names=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]")
    for i in names[1:]:
        name.append(i.text)
except NoSuchElementException:
    name.append('No details available')
print(len(name))

41

In [ ]:
desc=[]
try:
    desc_list=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2]")
    for i in desc_list[1:]:
        desc.append(i.text)
except NoSuchElementException:
    desc.append('No details available')
print(len(desc))

41

In [ ]:
df=pd.DataFrame({"Exception_name":name,
                "Description":desc})

In [ ]:
df.head()

                  Exception_name                                        Description
0     ElementNotVisibleException  This type of Selenium exception occurs when an...
1  ElementNotSelectableException  This Selenium exception occurs when an element...
2         NoSuchElementException  This Exception occurs if an element could not ...
3           NoSuchFrameException  This Exception occurs if the frame target to b...
4        NoAlertPresentException  This Exception occurs when you switch to no pr...

### **4.Scrape the details of State-wise GDP of India from statisticstime.com**

In [14]:
url="http://statisticstimes.com/"
driver.get(url)

In [21]:
driver.get(url)

In [22]:
economy=driver.find_element_by_xpath("//div[@class='dropdown'][2]/div/a[2]")
try:
    economy.click()
except ElementNotInteractableException:
    driver.get(economy.get_attribute('href'))

In [23]:
GDP=driver.find_element_by_xpath("//ul[@style='list-style-type:none;margin-left:20px;']/li/a")
try:
    GDP.click()
except ElementNotInteractableException:
    driver.get(GDP.get_attribute('href'))

In [ ]:
rank=[]
try:
    ranks=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[1]")
    for i in ranks:
        rank.append(i.text)
except NoSuchElementException:
    rank.append('No details available')
print(len(rank))

In [ ]:
State=[]
try:
    states=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[2]")
    for i in states:
        State.append(i.text)
except NoSuchElementException:
    State.append('No details available')
print(len(State))

In [ ]:
GSDP_18=[]
try:
    info=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[3]")
    for i in info:
        GSDP_18.append(i.text)
except NoSuchElementException:
    GSDP_18.append('No details available')
print(len(GSDP_18))

In [ ]:
GSDP_17=[]
try:
    info=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[4]")
    for i in info:
        GSDP_17.append(i.text)
except NoSuchElementException:
    GSDP_17.append('No details available')
print(len(GSDP_17))

In [ ]:
share=[]
try:
    info=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[5]")
    for i in info:
        share.append(i.text)
except NoSuchElementException:
    share.append('No details available')
print(len(share))

In [ ]:
GDP_billion=[]
try:
    info=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[6]")
    for i in info:
        GDP_billion.append(i.text)
except NoSuchElementException:
    GDP_billion.append('No details available')
print(len(GDP_billion))

In [ ]:
df=pd.DataFrame({'Rank':rank,
                'State':State,
                'GSDP(18-19)':GSDP_18,
                'GSDP(17-18)':GSDP_17,
                'Share_2017':share,
                'GDP(Billion_$)':GDP_billion})

In [ ]:
df.head()

### **5.Scrape the details of trending repositories on Github.com**

In [25]:
driver.get("https://github.com/")

In [26]:
explore=driver.find_element_by_xpath("//ul[@class='list-style-none mb-3']/li[3]/a")
driver.get(explore.get_attribute('href'))

In [27]:
repo_title=[]
try:
    repos=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']")
    for i in repos:
        repo_title.append(i.text)
except NoSuchElementException:
    repo_title.append('No details available')
print(len(repo_title))

25

In [29]:
repo_urls=[]
repos=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a")
for i in repos:
    repo_urls.append(i.get_attribute('href'))

In [30]:
print(len(repo_urls))

25

In [33]:
Contributors_count=[]
Language_used=[]
for i in repo_urls:
    driver.get(i)
    l=[]
    try:
        count=driver.find_element_by_xpath("//h2[@class='h4 mb-3']/a[contains(text(),'Contributors')]/span")
        Contributors_count.append(count.text)
    except NoSuchElementException:
        Contributors_count.append('No details available')
   
    languages=driver.find_elements_by_xpath("//span[@class='text-gray-dark text-bold mr-1']")
    if languages:    
        for i in languages:
            l.append(i.text)
    else:
        l.append('No languages used')
    Language_used.append(l)

In [36]:
print(len(Contributors_count))
print(len(Language_used))

25
25

In [37]:
df=pd.DataFrame({'Title':repo_title,
                'Contributors_count':Contributors_count,
                'Language_used':Language_used})
df.head()

                             Title Contributors_count        Language_used
0                 bndw / wifi-card                  5  [No languages used]
1                 facebook / folly                580  [No languages used]
2    microsoft / IoT-For-Beginners                 26  [No languages used]
3  NationalSecurityAgency / ghidra                149  [No languages used]
4          microsoft / CBL-Mariner                 37  [No languages used]

### **6.Scrape the details of top 100 songs on billboard.com**

In [ ]:
driver.get("https://www.billboard.com/")

In [ ]:
charts=driver.find_element_by_xpath("//a[@class='header__main-link header__main-link--charts']")
try:
    charts.click()
except ElementNotInteractableException:
    driver.get(charts.get_attribute('href'))

In [ ]:
top_100=driver.find_element_by_xpath("//a[@class='charts-landing__link charts-landing__video--background']")
try:
    top_100.click()
except ElementNotInteractableException:
    driver.get(top_100.get_attribute('href'))

In [ ]:
song_name=[]
try:
    names=driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")
    for i in names:
        song_name.append(i.text)
except NoSuchElementException:
    song_name.append('No details available')
print(len(song_name))

100

In [ ]:
artist_name=[]
try:
    names=driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']")
    for i in names:
        artist_name.append(i.text)
except NoSuchElementException:
    artist_name.append('No details available')
print(len(artist_name))

100

In [ ]:
last_week_rank=[]
try:
    ranks=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
    for i in ranks:
        last_week_rank.append(i.text)
except NoSuchElementException:
    last_week_rank.append('No details available')
print(len(last_week_rank))

100

In [ ]:
peak_rank=[]
try:
    ranks=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
    for i in ranks:
        peak_rank.append(i.text)
except NoSuchElementException:
    peak_rank.append('No details available')
print(len(peak_rank))

100

In [ ]:
weeks=[]
try:
    week_count=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
    for i in week_count:
        weeks.append(i.text)
except NoSuchElementException:
    weeks.append('No details available')
print(len(weeks))

100

In [ ]:
df=pd.DataFrame({'Song_Name':song_name,
                'Artist_Name':artist_name,
                'Last_week_rank':last_week_rank,
                'Peak':peak_rank,
                'Weeks_on_chart':weeks})

In [ ]:
df.head()

      Song_Name                Artist_Name Last_week_rank Peak Weeks_on_chart
0        Butter                        BTS              1    1              6
1      Good 4 U             Olivia Rodrigo              2    1              7
2  Kiss Me More     Doja Cat Featuring SZA              4    3             12
3    Levitating  Dua Lipa Featuring DaBaby              3    2             39
4    Bad Habits                 Ed Sheeran              -    5              1

### **7.Scrape the details of Data science recruiters from naukri.com**

In [ ]:
driver.get("https://www.naukri.com/")

In [ ]:
recruiters=driver.find_element_by_xpath("//a[@title='Search Recruiters']")
driver.get(recruiters.get_attribute('href'))

In [ ]:
search=driver.find_element_by_xpath("//input[@class='sugInp']")
search.send_keys("Data Science")

In [ ]:
button=driver.find_element_by_xpath("//button[@id='qsbFormBtn']")
button.click()

In [ ]:
name=[]
try:
    names=driver.find_elements_by_xpath("//div[@class='recInfo']/div/p/a[1]")
    for i in names:
        name.append(i.text)
except NoSuchElementException:
    name.append('No details available')
print(len(name))

50

In [ ]:
designation=[]
try:
    designation_list=driver.find_elements_by_xpath("//div[@class='recInfo']/div/p/span[1]")
    for i in designation_list:
        designation.append(i.text)
except NoSuchElementException:
    designation.append('No details available')
print(len(designation))

50

In [ ]:
company=[]
try:
    companies=driver.find_elements_by_xpath("//div[@class='recInfo']/div/p/a[2]")
    for i in companies:
        company.append(i.text)
except NoSuchElementException:
    company.append('No details available')
print(len(company))

50

In [ ]:
skill=[]
try:
    skills=driver.find_elements_by_xpath("//div[@class='recInfo']/div[2]")
    for i in skills:
        skill.append(i.text)
except NoSuchElementException:
    skill.append('No details available')
print(len(skill))

50

In [ ]:
location=[]
soup=BeautifulSoup(driver.page_source,'html.parser')
l=soup.find_all('div',attrs={'vcard'})
for i in l:
    try:
        location.append(i.find('small').text)
    except AttributeError :
        location.append("No details available")
print(len(location))

50

In [ ]:
df=pd.DataFrame({'Name':name,
                'Designation':designation,
                'Company':company,
                "Location":location,
                'Skills I hire':skill})

In [ ]:
df.head()

                       Name  ...                                      Skills I hire
0              Aakash Harit  ...  Classic ASP Developer, Internet Marketing Prof...
1      shravan Kumar Gaddam  ...  .Net, Java, Data Science, Linux Administration...
2  MARSIAN Technologies LLP  ...  Data Science, Artificial Intelligence, Machine...
3              Anik Agrawal  ...  Mean Stack, javascript, angularjs, mongodb, We...
4              subhas patel  ...  Hadoop, Spark, Digital Strategy, Data Architec...

[5 rows x 5 columns]

### **8.Scrape the details of Highest selling novels**

In [ ]:
url="https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"
driver.get(url)

In [ ]:
book_name=[]
try:
    names=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[2]")
    for i in names:
        book_name.append(i.text)
except NoSuchElementException:
    book_name.append('No details available')
print(len(book_name))

100

In [ ]:
author_name=[]
try:
    names=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[3]")
    for i in names:
        author_name.append(i.text)
except NoSuchElementException:
    author_name.append('No details available')

print(len(author_name))

100

In [ ]:

sale=[]
try:
    names=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[4]")
    for i in names:
        sale.append(i.text)
except NoSuchElementException:
    sale.append('No details available')

print(len(sale))

100

In [ ]:
publisher=[]
try:
    publishers=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[5]")
    for i in publishers:
        publisher.append(i.text)
except NoSuchElementException:
    publisher.append('No details available')

print(len(publisher))

100

In [ ]:
genre=[]
try:
    genres=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[6]")
    for i in genres:
        genre.append(i.text)
except NoSuchElementException:#handling no such element exception
    genre.append('No details available')

print(len(genre))

100

In [ ]:
df=pd.DataFrame({"Book_name":book_name,
                "Author_name":author_name,
                'Volume sold':sale,
                'Publisher':publisher,
                'Genre':genre})

In [ ]:
df.head()

                                   Book_name  ...                        Genre
0                          Da Vinci Code,The  ...  Crime, Thriller & Adventure
1       Harry Potter and the Deathly Hallows  ...           Children's Fiction
2   Harry Potter and the Philosopher's Stone  ...           Children's Fiction
3  Harry Potter and the Order of the Phoenix  ...           Children's Fiction
4                       Fifty Shades of Grey  ...              Romance & Sagas

[5 rows x 5 columns]

### **9.Scrape the details most watched tv series of all time from imdb.com**

In [ ]:
url="https://www.imdb.com/list/ls095964455/"

In [ ]:
driver.get(url)

In [ ]:
name=[]
try:
    names=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
    for i in names:
        name.append(i.text)
except NosuchElementException:#handling no such element exception
    name.append('No details available')
print(len(name))

100

In [ ]:
years=[]
try:
    span=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/span[2]")
    for i in span:
        years.append(i.text)
except NosuchElementException:#handling no such element exception
    years.append('No details available')
print(len(years))

100

In [ ]:
genre=[]
try:
    genres=driver.find_elements_by_xpath("//span[@class='genre']")
    for i in genres:
        genre.append(i.text)
except NoSuchElementException:
    genre.append('No details available')
print(len(genre))

100

In [ ]:
run_time=[]
try:
    info=driver.find_elements_by_xpath("//span[@class='runtime']")
    for i in info:
        run_time.append(i.text)
except NoSuchElementException:
    run_time.append('No details available')
print(len(run_time))

100

In [ ]:
rating=[]
try:
    info=driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[2]")
    for i in info:
        rating.append(i.text)
except NoSuchElementException:
    rating.append('No details available')
print(len(rating))

100

In [ ]:
votes=[]
try:
    info=driver.find_elements_by_xpath("//span[@name='nv']")
    for i in info:
        votes.append(i.text)
except NoSuchElementException:
    votes.append('No details available')
print(len(votes))

100

In [ ]:
df=pd.DataFrame({"Name":name,
                "years":years,
                "Genre":genre,
                "Run_time":run_time,
                "Rating":rating,
                "Votes":votes})

In [ ]:
df.head()

               Name        years  ... Rating      Votes
0   Game of Thrones  (2011–2019)  ...    9.2  1,834,325
1   Stranger Things     (2016– )  ...    8.7    873,110
2  The Walking Dead  (2010–2022)  ...    8.2    878,805
3    13 Reasons Why  (2017–2020)  ...    7.6    264,069
4           The 100  (2014–2020)  ...    7.6    225,599

[5 rows x 6 columns]

### **10.Details of Datasets from UCI machine learning repositories**

In [ ]:
url="https://archive.ics.uci.edu/"

In [ ]:
driver.get(url)

In [ ]:
show=driver.find_element_by_xpath("//a[@href='datasets.php']")
show.click()

In [ ]:
name=[]
try:
    names=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b/a")
    for i in names:
        name.append(i.text)
except NoSuchElementException:
    name.append('No details available')
print(len(name))

588

In [ ]:
data_type=[]
try:
    info=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]")
    for i in info[1:]:
         data_type.append(i.text)
except NoSuchElementException:
    data_type.append("No information")
print(len(data_type))

588

In [ ]:
default_task=[]
try:
    info=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]")
    for i in info[1:]:
         default_task.append(i.text)
except NoSuchElementException:
    default_task.append("No information")
print(len(default_task))

588

In [ ]:
attr_type=[]
try:
    info=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]")
    for i in info[1:]:
         attr_type.append(i.text)
except NoSuchElementException:
    attr_type.append("No information")
print(len(attr_type))

588

In [ ]:
no_of_instances=[]
try:
    info=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]")
    for i in info[1:]:
         no_of_instances.append(i.text)
except NoSuchElementException:
    no_of_instances.append("No information")
print(len(no_of_instances))

588

In [ ]:
no_of_attributes=[]
try:
    info=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]")
    for i in info[1:]:
         no_of_attributes.append(i.text)
except NoSuchElementException:
    no_of_attributes.append("No information")
print(len(no_of_attributes))

588

In [ ]:
year=[]
try:
    info=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]")
    for i in info[1:]:
         year.append(i.text)
except NoSuchElementException:
    year.append("No information")
print(len(year))

588

In [ ]:
df=pd.DataFrame({'Name':name,
                'Data_type':data_type,
                'Task':default_task,
                'Attribute_type':attr_type,
                'No_of_instances':no_of_instances,
                'No_of_attributes':no_of_attributes,
                'Year':year})

In [ ]:
df.head()

                           Name      Data_type  ... No_of_attributes   Year
0                       Abalone  Multivariate   ...               8   1995
1                         Adult  Multivariate   ...              14   1996
2                     Annealing  Multivariate   ...              38
3  Anonymous Microsoft Web Data                 ...             294   1998
4                    Arrhythmia  Multivariate   ...             279   1998

[5 rows x 7 columns]